.mcq-section {
    max-width: 50rem;
}

.mcq {
    line-height: 3rem;
}

.option{
    border: 2px solid;
    margin: 1.6rem;
    width: 30rem;
    border-radius: 1rem;
    cursor: pointer;
}

.option:hover{
    background-color: var(--primary-color);
}

.submit-btn{
    width: max-content;
    padding: .7rem 1.3rem;
    font-size: 1.3rem;
    border-radius: 1rem;
}

@media screen and (max-width: 800px) {
    .mcq-section{
        margin-top: 3.4rem;
    }
}