.rules-img {
    width: 30rem;
    height: 13rem;
}

.input-txt{
    border: 2px solid;
}

.cont {
    line-height: 2.5rem;
    font-size: 1.3rem;
}

.start-btn {
    padding: .4rem 2rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 380px) {
    .rules-section{
        width: 25rem;
    }
    .rules-img {
        width: 25rem;
        height: 13rem;
    }
}