.quiz-board-container{
    grid-template-rows: 10rem 1fr;
}

.play-again-btn{
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    font-weight: 600;
}