@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Creepster&family=Inspiration&family=Lobster&family=Playfair+Display:wght@600&family=Yellowtail&display=swap');

.navigaton-bar {
    background-color: var(--primary-color);
}

.nav-header {
    font-family: 'Bad Script', cursive;
}

.auth-section {
    gap: 6rem;
}

.rules-btn,
.auth-btn {
    border-radius: .5rem;
}

.auth-btn {
    color: var(--black-900);
    border: none;
    font-size: 1.3rem;
}

.theme-mode {
    width: 2.5rem;
}

.moon-logo {
    transform: translateY(0%) rotateZ(0deg);
    transition: 1s;
    font-size: 2.5rem;
}

.sun-logo {
    transform: translateY(0) rotateZ(90deg);
    transition: 1s;
    font-size: 2.5rem;
}

.themeBtn {
    background-color: inherit;
    border: none;
}