.img{
    width: 2.5rem;
    border: 2px solid;
}
.footer-container{
    background-color: var(--primary-color);
    text-align: center;
}

.f-color{
    color: var(--black-900);
}

.logo{
    font-size: 2rem;
}