.main-section {
    grid-template-columns: repeat(2, 1fr);
}

.home-img {
    width: 100%;
    border: none;
}

.btn {
    font-weight: 600;
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.img-section {
    width: min-content;
    background-color: var(--aliceblue);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    max-height: 55vh;
    box-shadow: 2px 13px 5px 1px var(--gray-500);
}

.quiz-img {
    width: 23rem;
    height: 24rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
img1{
    width: fit-content;
}

.play-btn {
    background-color: var(--primary-color);
}

.play-btn:hover {
    color: var(--black-900);
    background-color: var(--blue-50);
    transition: .6s;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    .main-section {
        display: flex;
        flex-wrap: wrap;
    }

    .home-img {
        width: 80%;
    }
    .auth-section{
        gap: 3rem;
    }
}